<md-card>
    <md-card-content>
        <md-card-title>Asset</md-card-title>
        <md-card-subtitle style="margin-left:300px;">
            Project :
            <md-select>
                <md-option>XYZ</md-option>
                <md-option>ABC</md-option>
                <md-option>MNP</md-option>
            </md-select>
        </md-card-subtitle>
        <table class="table table-fixed">
            <thead>
                <tr>
                    <td>Asset Code</td>
                    <td>Asset Type</td>
                    <td>Status</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td>Assigned To</td>
                    <td>Options</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let asset of assets" id="tr-{{asset.$key}}">
                    <td *ngIf="asset.isShown">
                        {{asset?.acode}}
                    </td>
                    <td *ngIf="asset.isShown">
                        {{asset?.atype}}
                    </td>
                    <td *ngIf="asset.isShown">
                        <md-card color="primary" style="height:10px; padding-top:10px;"><strong>PENDING</strong></md-card>
                    </td>
                    <td *ngIf="asset.isShown">
                        {{asset?.ast | date}}
                    </td>
                    <td *ngIf="asset.isShown">
                        {{asset?.aendt | date}}
                    </td>
                    <td *ngIf="asset.isShown">
                        {{asset?.crby}}
                    </td>
                    <td *ngIf="asset.isShown">
                        <button (click)="explore(asset.$key)" md-raised-button type="button">EXPLORE</button>
                    </td>

                    <td *ngIf="!asset.isShown" colspan="7">
                        <view-detailed-asset [selectedAsset]="asset"></view-detailed-asset>
                        <hr>
                        <button style="float: right;" md-raised-button (click)="close(asset.$key)">Close</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-card-content>
</md-card>