<md-card>
    <md-card-content class="size">
        <md-card-title>Asset</md-card-title>
        <table class="table table-fixed">
            <thead>
                <tr>
                    <td>Asset Code</td>
                    <td>Asset Type</td>
                    <td>Created By</td>
                    <td>Options</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let asset of assets" id="tr-{{asset.$key}}">
                    <td *ngIf="asset.isShown">
                        {{asset?.acode}}
                    </td>
                    <td *ngIf="asset.isShown">
                        {{asset?.atype | uppercase}}
                    </td>
                    <td *ngIf="asset.isShown">
                        {{asset?.crby | uname | async}}
                    </td>
                    <td *ngIf="asset.isShown">
                        <button (click)="explore(asset.$key)" md-raised-button type="button" class="size">EXPLORE</button>
                    </td>

                    <td *ngIf="!asset.isShown" colspan="7">
                        <view-detailed-asset [selectedAsset]="asset"></view-detailed-asset>
                        <hr>
                        <button style="float: right;" md-raised-button (click)="close(asset.$key)">Close</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-card-content>
</md-card>