<md-card>
    <md-card-header>
        <md-card-title></md-card-title>
        <md-card-subtitle>Started : {{selectedAsset?.ast}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        Description : {{selectedAsset?.adesc}}

        <table class="table table-sm table-bordered table-striped ">
            <thead class="bg-primary">
                <tr>
                    <th>Department</th>
                    <th>Assigned Artist(s)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of departments">

                    <td class="bg-info">
                        <!--
                            <button md-raised-button style="width:100%;" [routerLink]="['/asset/details/',selectedAsset.$key, item.dname]">
                            {{item.dname}}
                            </button>
                        -->
                        <span class="off" *ngIf="user.type != 'supervisor'" [routerLink]="['/app/prepro/details/',selectedAsset.$key, item.dname]"> 
                            <a >{{item.dname}}</a>
                        </span>
                        <span class="off" *ngIf="user.type == 'supervisor'" [routerLink]="['/app/prepro/review/',selectedAsset.$key, item.dname]"> 
                            <a >{{item.dname}}</a>
                        </span>
                    </td>
                    <td>
                        <tag-input [(ngModel)]="item.assigned" [onlyFromAutocomplete]="true" (onTextChange)="call($event)" (onAdd)="onAdd($event, item.dname)" (onRemove)="onRemove($event)">
                            <tag-input-dropdown [showDropdownIfEmpty]="true" [focusFirstElement]="true" [displayBy]="'username'" [identifyBy]="'$key'" [autocompleteItems]="requestAutocompleteItems | async">
                                <ng-template let-item="item">
                                    {{ item.username }}
                                </ng-template>
                            </tag-input-dropdown>
                        </tag-input>
                    </td>


                </tr>
            </tbody>
        </table>
    </md-card-content>
</md-card>