<md-card>
    <button md-raised-button style="width:100%;" [routerLink]="['/asset/version/add',asset_id,dept_id]">Add Version</button>
    <br>
    <table class="table table-fixed">
        <thead>
            <tr>
                <th>Version</th>
                <th>Started</th>
                <th>Expected</th>
                <th>Options</th>
                <th>Time in Normal Format
                    <th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let av of asset_versions">
                <td>{{av.avercode}}</td>
                <td>{{av.averst}}</td>
                <td>{{av.averendt}}</td>
                <td>
                    <button md-raised-button type="button" color="primary" (click)="start(av.$key)">Start</button>
                    <button md-raised-button type="button" color="accent">Pause</button>
                    <button md-raised-button type="button" color="none">Notes</button>
                </td>
                <td>
                    <ul>
                        <li *ngFor="let time of times | async">

                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</md-card>