<div class="col-md-6">
    <md-card class="widget">
        <div class="col-md-12">
            <form #noteForm="ngForm" (ngSubmit)="add(noteForm.value)">
                <md-card class="note-card">
                    <md-input-container>
                        <textarea mdInput (ngModel)="note" name="note" rows="" cols="50"></textarea>
                    </md-input-container>
                    <button md-raised-button type="submit">Add Note</button>
                </md-card>
            </form>
        </div>
        <div style="font-size: 25px; "><b>RECENT NOTES</b></div><br/>
        <div style="font-size: 15px; ">
            <ul>
                <md-card class="note-card" *ngFor="let no of notes">
                    <md-card-header>
                        <!--<div md-card-avatar class="example-header-image"></div>-->
                        <md-card-title><strong>User</strong>, Role</md-card-title>
                        <md-card-subtitle>Created : {{ no.ncrtdate | date:'medium'}}</md-card-subtitle>
                    </md-card-header>
                    <md-card-content>
                        <p>
                            {{no.note}}
                        </p>
                    </md-card-content>
                    <md-card-actions>
                        <button (click)="reply(no)" md-button>REPLY</button>
                        <button md-button>DELETE</button>
                        <md-card class="note-card">
                            <md-input-container>
                                <textarea mdInput rows="" cols="50"></textarea>
                            </md-input-container>
                            <button md-raised-button type="button">Submit</button>
                        </md-card>
                        <md-card class="note-card-reply" *ngFor="let no of notes">
                            <md-card-header>
                                <!--<div md-card-avatar class="example-header-image"></div>-->
                                <md-card-title><strong>User</strong>, Role</md-card-title>
                                <md-card-subtitle>Created : {{ no.ncrtdate | date:'medium'}}</md-card-subtitle>
                            </md-card-header>
                            <md-card-content>
                                <p>
                                    {{no.note}}
                                </p>
                            </md-card-content>
                            <md-card-actions>
                                <button md-button>DELETE</button>
                            </md-card-actions>
                        </md-card>
                    </md-card-actions>
                </md-card>
            </ul>
        </div>

    </md-card>
</div>