<div class="col-md-12" style="margin-top: 20px;">
    <md-card class="widget">
        <div class="col-md-12">
            <form #noteForm="ngForm" (ngSubmit)="add(noteForm.value)">
                <md-select placeholder="Filter By Version" [(ngModel)]="selectedValue" name="selectedValue">
                    <md-option *ngFor="let filter of filters" [value]="filter.value" (click)="filtered()">
                        {{filter.viewValue}}
                    </md-option>
                </md-select>
                <div *ngIf="input">
                    <md-card class="note-card">

                        <md-input-container>
                            <textarea mdInput (ngModel)="note" name="note" rows="" cols="50"></textarea>
                        </md-input-container>

                        <button md-raised-button type="submit">Add Note</button>
                    </md-card>
                </div>
            </form>
        </div>
        <div style="font-size: 15px; ">
            <ul>
                <md-card class="note-card" *ngFor="let no of notes">
                    <md-card-header>
                        <!--<div md-card-avatar class="example-header-image"></div>-->
                        <md-card-title><strong><u>{{no.assetver_id | verCode | async}}</u></strong><strong>  {{ no.crby | uname | async }}</strong>,
                            Role
                        </md-card-title>
                        <md-checkbox [checked]="no.checked" (change)="checkNote(no.$key,no.checked)"></md-checkbox>
                        <md-card-subtitle>Created : {{ no.crdate | date:'medium'}}</md-card-subtitle>
                    </md-card-header>
                    <md-card-content>
                        <p>
                            {{no.note}}
                        </p>
                    </md-card-content>
                    <md-card-actions>
                        <button (click)="reply_note(no.$key)" md-button>REPLY</button>
                        <button (click)="show_reply(no.$key)" md-button>SHOW REPLY</button>
                        <button md-button>DELETE</button>
                        <div *ngIf="(ishider)&&(no.$key == currentReply)">
                            <md-card class="note-card">
                                <md-input-container>
                                    <textarea [(ngModel)]="reply" mdInput rows="" cols="50"></textarea>
                                </md-input-container>
                                <button md-raised-button type="button" (click)="add_reply(no.$key,reply)">Submit</button>
                            </md-card>
                        </div>
                        <div *ngIf="(ishiden)&&(no.$key == currentReplyr)">
                            <md-card class="note-card-reply" *ngFor="let rep of no.reply">
                                <md-card-header>
                                    <!--<div md-card-avatar class="example-header-image"></div>-->
                                    <md-card-title><strong><u>{{rep.assetver_id | verCode | async}}</u></strong><strong>  {{ rep.crby | uname | async }}</strong>,
                                        Role</md-card-title>
                                    <md-checkbox [checked]="rep.checked" (change)="checkNoteR(rep.$key,rep.checked)"></md-checkbox>
                                    <md-card-subtitle>Created : {{ rep?.crdate | date:'medium'}}</md-card-subtitle>
                                </md-card-header>
                                <md-card-content>
                                    <p>
                                        {{rep?.note}}
                                    </p>
                                </md-card-content>
                                <md-card-actions>
                                    <button md-button>DELETE</button>
                                </md-card-actions>
                            </md-card>
                        </div>
                    </md-card-actions>
                </md-card>

            </ul>
        </div>

    </md-card>
</div>